* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1a1d;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

.boxCard {
  box-sizing: border-box;
  position: relative;
  display: flex;
  color: #fff;
  /* padding: 20px 25px 0px; */
  background-color: #1b1a1d;
  width: 700px;
  height: 380px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
}

.boxCard::before,
.boxCard::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  background: linear-gradient(
    45deg,
    #ffff00,
    #00ff00,
    #0099ff,
    #001aff,
    #a200ff,
    #ff0055,
    #ff0000,
    #ffff00,
    #00ff00,
    #0099ff,
    #001aff,
    #a200ff
  );
  background-size: 300%;
  border-radius: 16px;
  animation: AnimationBorder 8s linear infinite;
}

.boxCard::after {
  filter: blur(50px);
}

.star {
  font-size: 22px;
  animation: AnimationStar 120ms infinite;
  /* animation: calc(1%); */
}

@keyframes AnimationStar {
  0% {
    transform: rotate(20deg);
    animation-direction: normal;
    animation: 50ms infinite;
  }

  30% {
    transform: rotate(60deg);
    animation: 150ms infinite;
  }

  70% {
    transform: rotate(90deg);
    animation: 200ms infinite;
  }

  100% {
    transform: rotate(300deg);
    animation: 0ms infinite;
  }
}

@keyframes AnimationBorder {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 300%;
  }
}
